@keyframes bubling {
  from {
    transform: translateY(0px);
    opacity: 0;
  }

  to {
    transform: translateY(-50px);
    opacity: 1;
  }
}

.RestartButton {
  position: absolute !important;
  bottom: 0px;
  width: 90% !important;
  max-width: 374px !important;
  margin: 0 auto !important;
  animation: bubling 0.75s ease-in-out forwards;
}
