@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.Preview {
  margin: 0 auto;
  display: inline-block;
  max-height: 270px;
  position: relative;
  backface-visibility: hidden;
  will-change: transform;
  transition: transform 0.75s ease-in-out;
}

.Preview_result {
  transform: translateY(-100px);
}

.Preview img {
  pointer-events: none;
  max-height: 100%;
  max-width: 100%;
  border-radius: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Preview_unload img {
  opacity: 0.5;
}

.Preview__spinner {
  position: absolute;
  z-index: 100;
}

.Preview__FoundObject {
  transform: scale(1);
  position: absolute;
  border: 2px solid green;
  transform: scale(0);
  animation: scale 0.75s linear 1s forwards;
}
