@keyframes resultCard {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(-90px);
    opacity: 1;
  }
}

.ResultCard {
  padding: 14px 16px;
  max-width: 370px;
  width: calc(100% - 10px);
  box-sizing: border-box;
  background: #edeef0;
  border-radius: 16px !important;
  opacity: 0;

  animation: resultCard 0.75s ease-in-out forwards;
}

.ResultCard__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.2px;
  height: 18px;
  color: #818c99;
}

.ResultCard__title {
  min-height: 32px;
  max-width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;

  color: var(--vkui--color_background_accent);
}

.ResultCard__title_error {
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 180px;
  color: var(--vkui--color_accent_red);
}
